button {
  font-weight: bold;
}
.KeisanStyle {
    border: 2px solid #dcdcdc;
    padding: 10px;
  }
.suzi {
    display: flex;
    border: 2px solid #dcdcdc
  }
.suziSingel {
    flex: 1;
    height: 100px;
    width: 100px;
    margin: 0 20px;
    border: solid #100f0fff;
  }

button:hover {
    color:aliceblue;
    background-color: gray;
    cursor : pointer;
}

.total-area {
  border: 2px solid #dedede;
  border-radius: 16px;
  margin: 10px;
  text-align: center;
  background-color: greenyellow;
}

.total {
  font-weight: bold;
}